@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Righteous&family=Urbanist:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;508;600;700&display=swop');

* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
	scroll-padding-top: 2rem;
}
body {
	color: #ffffff;
	font: 500 16px/28px 'Urbanist', Arial, Helvetica, sans-serif;
	background-color: #14110e;
	font-family: 'Popins', sans-serif;
}
a {
	color: inherit;
	text-decoration: none;
	transition: 0.4s;
}
ul li,
ol li {
	list-style-type: none;
}
img {
	max-width: 100%;
	max-height: 100%;
}
button {
	display: block;
	border: none;
	color: inherit;
	font: inherit;
	background-color: transparent;
	transition: 0.4s;
	cursor: pointer;
}

.original-price {
	text-decoration: line-through;
	color: #777;
}

.discounted-price {
	color: #e74c3c;
	font-weight: bold;
	font-size: 24px;
}

.info-price {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.btn-primary {
	padding: 20px 36px;
	font: 700 18px 'Inter', Arial, Helvetica, sans-serif;
	text-align: center;
	text-transform: uppercase;
	background-color: #c99e71;
}
.btn-primary:hover {
	background-color: #bd864b;
}

.container {
	max-width: 1340px;
	margin: 0 auto;
	padding: 0 75px;
}
.container-header {
	padding: 0 10px;
}
.section-main {
	padding-bottom: 140px;
}
.section-title {
	margin-bottom: 12px;
	color: #c99e71;
	font: 600 18px/22px 'Urbanist', Arial, Helvetica, sans-serif;
	text-align: center;
}
.section-subtitle {
	margin-bottom: 56px;
	font: 48px/62px 'Righteous', cursive;
	text-align: center;
}
.section__text {
	opacity: 0.8;
	text-transform: capitalize;
}

/* Header */
#header-section {
	padding: 10px 0;
	background-color: #1c1814;
	position: sticky;
	top: 0;
	z-index: 1000;
}

.nav-main,
.nav-main__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.header-action {
	display: flex;
	gap: 20px;
}
.nav-main {
	flex-grow: 1;
}
.nav-main__list {
	display: flex;
	gap: 48px;
	font: 400 18px 'Inter', Arial, Helvetica, sans-serif;
}
.nav-main__link_selected {
	color: #c99e71;
	font-weight: 700;
	cursor: default;
}
.nav-main__link:hover,
.header-action__search:hover,
.header-action__cart:hover {
	color: #c99e71;
}
.header__logo,
.footer__img {
	width: 72px;
	height: 60px;
}
.header-action {
	gap: 50px;
	margin-left: 48px;
}
.header-action__search,
.header-action__cart {
	font-size: 30px;
}

/* Banner */
#banner-section {
	background: url(../../src/img/sport.jpg) 50% 0% / cover no-repeat;
}
.banner {
	display: flex;
	justify-content: flex-end;
	padding: 147px 0 158px;
}
.banner-info {
	max-width: 530px;
}
.banner__header {
	font: 72px/94px 'Righteous', cursive;
}
.banner__text {
	margin: 32px 0 64px;
	font-size: 20px;
	line-height: 36px;
	opacity: 0.8;
	text-transform: capitalize;
}
.banner__btn {
	padding: 24px 40px;
}
.banner-video__btn {
	position: relative;
	display: flex;
	align-items: flex-end;
	align-self: flex-end;
	height: 110px;
	font: 400 16px 'Inter', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}
.banner-video__btn:hover {
	color: #c99e71;
}
.banner-video__btn::before {
	position: absolute;
	content: '';
	top: 0;
	left: 50%;
	width: 66px;
	height: 66px;
	border: 2px solid #fff;
	border-radius: 50%;
	background: url(img/play.svg) 50%/14px 18px no-repeat;
	transform: translateX(-50%);
}

/* Features */
.features {
	display: flex;
	justify-content: space-between;
	gap: 36px;
	padding-top: 140px;
}
.features__item {
	font: 24px/30px 'Righteous', cursive;
}
.features__item_dark {
	margin-right: 12px;
	color: #c99e71;
}
.features__img {
	display: block;
	margin-top: 24px;
}

/* History */
.history-wrap {
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	grid-template-rows: repeat(1fr, 2);
	align-items: stretch;
	gap: 32px;
}
.history-wrap__img:first-child {
	grid-column: 1/2;
	grid-row: 1/2;
}
.history-wrap__img:nth-child(2) {
	grid-column: 2/3;
	grid-row: 1/3;
}
.history-wrap__img:last-child {
	grid-column: 1/2;
	grid-row: 2/3;
}
.history {
	display: flex;
	flex-direction: column;
	justify-content: center;
	grid-column: 3/4;
	grid-row: 1/3;
	padding: 0 56px;
	background-color: #1c1814;
}
.history__title,
.history__subtitle {
	text-align: left;
}
.history__subtitle {
	margin-bottom: 36px;
}
.alert-success {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 15px;
}

.popular-wrap {
	display: flex;
	justify-content: space-between;
	gap: 36px;
	margin-bottom: 56px;
}
.popular {
	padding: 48px 48px 40px 48px;
	background-color: #121315;
	text-align: center;
	text-transform: uppercase;
}
.popular__img {
	display: block;
	margin-bottom: 36px;
}
.rating {
	display: flex;
	justify-content: center;
	gap: 15px;
	color: #c99e71;
}
.rating__title {
	font-weight: 500;
}
.rating__list {
	display: flex;
	justify-content: space-between;
	gap: 7px;
}
.rating__item {
	font-size: 16px;
	line-height: 26px;
}
.popular__title {
	margin: 12px 0 20px;
	font: 24px/30px 'Righteous', cursive;
}
.popular__price {
	display: block;
	font-size: 18px;
	font-weight: 600;
}
.popular__price_dark {
	color: #c99e71;
	font: 400 18px 'Inter', Arial, Helvetica, sans-serif;
}
.popular__btn {
	display: none;
	justify-content: center;
	align-items: center;
	gap: 15px;
	width: 170px;
	margin: 38px auto 0;
	padding: 13px 0;
	font: 600 18px/22px 'Urbanist', Arial, Helvetica, sans-serif;
	text-transform: none;
}
.popular:hover .rating,
.popular:hover .popular__price {
	display: none;
}
.popular:hover .popular__btn {
	display: flex;
}
.popular__link {
	display: block;
	width: 252px;
	margin: 0 auto;
}

/* Discover */
.discover-wrap {
	display: flex;
	justify-content: space-between;
	gap: 50px;
	padding: 85px 80px;
	background-color: #1c1814;
}
.discover-img {
	display: block;
	margin: 0 auto;
	max-height: 359px;
}
.discover {
	max-width: 535px;
}
.discover__title {
	margin-bottom: 36px;
	text-align: left;
}
.discover__link {
	display: block;
	width: 215px;
	margin-top: 36px;
}

/* Menu */
.menu-wrap {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 36px;
}
.menu {
	display: flex;
	align-items: center;
	gap: 20px;
	width: 48%;
	padding: 24px;
	border: 1px solid #32323d;
}
.menu__img {
	width: 72px;
	height: 72px;
}
.menu__title {
	font: 24px/30px 'Righteous', cursive;
}
.menu__price {
	display: block;
	margin-left: auto;
	color: #c99e71;
	font-size: 18px;
}

/* Testimonial */
.testimonial-wrap {
	display: flex;
	justify-content: space-between;
	gap: 40px;
	margin-bottom: 36px;
}
.testimonial {
	padding: 40px;
	background-color: #1c1814;
}
.testimonial-data,
.testimonial-info {
	display: flex;
	justify-content: space-between;
	gap: 24px;
}
.testimonial__img {
	display: block;
	width: 129px;
	height: 149px;
}
.testimonial-info {
	margin-top: 28px;
}
.testimonial__name {
	display: block;
	margin-bottom: 4px;
	font-size: 18px;
	line-height: 22px;
}
.testimonial__position {
	font-size: 14px;
	line-height: 25px;
	opacity: 0.5;
}
.testimonial__list {
	gap: 4px;
}
.testimonial__list .rating__item {
	align-self: flex-end;
	color: #faa61a;
	font-size: 20px;
}
.testimonial-action,
.testimonial-btn-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.testimonial-count__text {
	display: block;
	margin-bottom: 20px;
	color: #c99e71;
	font-size: 20px;
}
.testimonial-count__progress {
	appearance: none;
	width: 120px;
	height: 4px;
}
.testimonial-count__progress::-webkit-progress-bar {
	background-color: #2b2926;
}
.testimonial-count__progress::-webkit-progress-value {
	border-radius: 3px;
	background-color: #c99e71;
}
.testimonial-btn-wrap {
	gap: 16px;
}
.testimonial-btn {
	width: 56px;
	height: 56px;
	border-radius: 50%;
	cursor: default;
}
.testimonial-btn_active {
	color: #010102;
	background-color: #c99e71;
	cursor: pointer;
}
.testimonial-btn_active:hover {
	background-color: #bd864b;
}

/* Reservation */
.reservation-wrap {
	display: flex;
	justify-content: space-between;
}
.reservation-map {
	width: 50%;
	background: url(img/map.jpg) 50% 0% / cover no-repeat;
}
.reservation {
	width: 50%;
	padding: 72px 48px;
	background-color: #1c1814;
}
.reservation__input {
	width: 100%;
	margin-bottom: 24px;
}
.reservation__btn {
	width: 205px;
	margin: 56px auto 0;
}

/* News */
.news-wrap,
.news-info {
	display: flex;
	justify-content: space-between;
	gap: 36px;
}
.news__img {
	display: block;
}
.news-description {
	padding: 20px 24px 30px 24px;
	background-color: #1c1814;
}
.news-info {
	margin-bottom: 16px;
	font-size: 18px;
}
.news__author_dark {
	color: #c99e71;
}
.news__text {
	margin-bottom: 32px;
	font: 20px/30px 'Righteous', cursive;
}
.news__link {
	display: flex;
	align-items: center;
	gap: 12px;
	color: #c99e71;
}
.news__link:hover {
	color: #bd864b;
}

/* Footer */
.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.main-footer {
	background-color: #2e2924;
	padding-top: 90px;
}

.spacer {
	height: 50px;
}
.footer__img {
	margin-right: 36px;
}
.footer__list {
	display: flex;
	flex-grow: 1;
	gap: 40px;
	font-size: 20px;
}
.footer__link:hover {
	color: #c99e71;
}
.footer-form {
	position: relative;
	width: 328px;
	margin-left: auto;
}
.footer__input {
	width: 100%;
	padding: 22px 70px 22px 28px;
	border-radius: 36px;
	background-color: #1c1814;
}
.footer-copyright {
	margin-top: 26px;
	padding: 32px 0;
	text-align: center;
	background-color: #1c1814;
}
.search-container {
	position: relative;
	width: 200px;
}
.search-input {
	display: block;
	padding: 16px 20px;
	border: none;
	outline: none;
	color: inherit;
	font: 600 18px/32px 'Urbanist', Arial, Helvetica, sans-serif;
	opacity: 0.8;
	background-color: #14110e;
	width: 100%;
	padding: 10px 40px 10px 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	outline: none;
}

.search-button {
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
	height: 100%;
	border: none;
	background: none;
	font-size: 20px;
	color: #888;
	cursor: pointer;
}

.search-button:hover {
	color: #555;
}

.social-icons {
	display: flex;
	justify-content: flex-end;
	gap: 10px; /* Відступ між іконками */
	margin-top: 20px; /* Відступ від списку посилань */
}

.social-icons a {
	color: #888; /* Колір іконок */
	font-size: 24px; /* Розмір іконок */
}

.account-icons {
	display: flex;
	gap: 10px;
}

.social-icons a:hover {
	color: #555; /* Зміна кольору при наведенні */
}

/* Стилі для карточки товару */

.product-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr); /* Adjusted to 3 columns */
	gap: 20px;
}

.product-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.product-item:hover {
	transform: translateY(-5px);
	box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.product {
	margin-bottom: 30px;
}

.image {
	margin-bottom: 10px;
}

.image img {
	height: 350px; /* Збільшуємо висоту */
	width: 100%; /* Зменшуємо ширину до 90% від батьківського контейнера */
	object-fit: cover; /* Забезпечуємо збіг */
	border-radius: 7px;
}

.info h3 {
	font-size: 21px;
}

.info-price {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.add-to-cart {
	border: none;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #010102;
	color: #fff;
	border-radius: 10px;
}

.price {
	font-weight: 700;
	font-size: 18px;
}

@media (max-width: 1200px) {
	.product-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 768px) {
	.product-grid {
		grid-template-columns: 1fr;
	}
}

/*Секція розпродажу*/

#sale-banner {
	padding: 20px 0;
	background-color: #ffeb3b;
	text-align: center;
	border: 2px solid #fbc02d;
	margin-bottom: 20px;
}

.sale-link {
	text-decoration: none;
}

.sale-banner-content {
	display: inline-block;
	background-color: #ffc107;
	color: #000;
	padding: 15px 25px;
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sale-text {
	font-size: 1.5em;
	font-weight: bold;
}

/* Секція опису */

#welcome-section {
	padding: 20px 0;
	background-color: #ffeb3b; /* Жовтий фон */
	text-align: center;
	border: 2px solid #fbc02d; /* Темніший жовтий обрамлення */
	margin-bottom: 20px;
}

.willkommen__title__headline-block,
.headline-block__small-title,
.willkommen__title__title-block,
.willkommen__title__text-block {
	color: #000; /* Чорний текст */
	margin-bottom: 15px;
}

.headline-block__title,
.headline-block__small-title {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.2em;
}

.willkommen__title__title-block {
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 10px;
}

.willkommen__title__text-block {
	font-size: 1em;
	line-height: 1.6;
}

/* Список */

/* Стилі для головного меню */
.nav-categories {
	margin-top: 10px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.categories-list {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.categories-list > li {
	position: relative;
}

/* Стилі для посилань головних категорій */
.nav-categories .menu-label {
	display: block;
	padding: 10px 15px;
	font-size: 16px;
	text-decoration: none;
	cursor: pointer;
	color: #fff; /* Чорний текст за замовчуванням */
}

.nav-categories .menu-label:hover {
	background: #fff; /* Білий фон */
	color: #333; /* Чорний текст */
}

/* Стилі для підкатегорій */
.sub-menu {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: #f9f9f9; /* Світлий фон */
	border: 1px solid #ddd;
	min-width: 200px;
	z-index: 1000;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.categories-list > li:hover .sub-menu {
	display: block;
}

.sub-menu li a {
	display: block;
	padding: 10px;
	font-size: 14px;
	color: #333; /* Чорний текст за замовчуванням */
	text-decoration: none;
}

.sub-menu li a:hover {
	background: #333; /* Чорний фон */
	color: #fff; /* Білий текст при наведенні */
}

/* Загальні стилі для підкатегорій */
.sub-menu li {
	position: relative;
}

.sub-menu li:hover > ul {
	display: block;
}

.sub-menu ul {
	position: absolute;
	left: 100%;
	top: 0;
	display: none;
	background: #333; /* Чорний фон */
	border: 1px solid #ddd;
	min-width: 200px;
	padding: 0;
	margin: 0;
}

.sub-menu ul li a {
	padding: 10px;
	font-size: 14px;
	color: #fff; /* Білий текст */
	text-decoration: none;
}

.sub-menu ul li a:hover {
	background: #fff; /* Білий фон */
	color: #333; /* Чорний текст при наведенні */
}

.categories-list > li:hover > .menu-label:not(:hover) {
	background: #fff;
	color: #333;
}

/* .good-main styles */
.good-main {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.good-item {
	margin: 15px;
}

.good-content {
	display: flex;
	align-items: flex-start;
}

.good-image {
	width: 400px;
	height: 450px;
	overflow: hidden;
	border-radius: 10px;
	position: relative;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin-right: 20px;
}

.good-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	transition: transform 0.3s;
	border-radius: 10px;
}

.good-image:hover img {
	transform: scale(1.05);
}

/* Good text styles */
.good-text {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start; /* Align content at the top */
	border: 2px solid #c99e71; /* Border around the .good-text section */
	border-radius: 10px; /* Rounded corners for the border */
	padding: 15px; /* Padding inside the border */
	height: 450px; /* Fixed height of the .good-text section */
	overflow: auto; /* Enable scrolling if content exceeds the fixed height */
	position: relative; /* Ensure relative positioning for absolutely positioned child elements */
}

.good-text h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

.good-text p {
	font-size: 16px;
	line-height: 1.6;
}

.star {
	font-size: 24px; /* Adjust the size as needed */
	cursor: pointer;
}

.star.filled .fas {
	color: gold;
}

.star .fas {
	color: lightgray;
}

.stars {
	display: flex;
}

.color-squares {
	margin-top: 10px;
}

.color-square {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	border: 1px solid #ccc;
}

.delete-btn {
	padding: 15px 30px;
	font: 400 16px 'Inter', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #fff;
	background-color: #ff4d4d;
	border: 2px solid transparent;
	transition: background-color 0.3s ease, color 0.3s ease,
		border-color 0.3s ease, transform 0.3s;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 15px;
	display: inline-block;
}

.delete-btn:hover {
	background-color: #e60000;
	transform: scale(1.05);
}

.delete-btn:active {
	background-color: #cc0000;
	transform: scale(1);
}

.delete-btn:focus {
	outline: none;
	box-shadow: 0 0 0 3px rgba(255, 77, 77, 0.5);
}

.quantity--select {
	margin-right: 10px;
	padding: 8px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.purchase-section {
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: flex-start; /* Вирівнює елементи по верхньому краю */
	padding: 10px;
}

.quantity--select {
	padding: 15px 10px; /* Опціонально: збільшує висоту вибірника для збігу з висотою кнопки */
	font: 400 16px 'Inter', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	border-radius: 5px; /* Опціонально: додає закруглені кути */
	border: 2px solid transparent;
	transition: border-color 0.3s ease;
}

.purchase-btn {
	padding: 15px 30px;
	font: 400 16px 'Inter', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	background-color: #c99e71;
	border: 2px solid transparent;
	transition: background-color 0.3s ease, color 0.3s ease,
		border-color 0.3s ease;
	border-radius: 5px;
}

.purchase-btn:hover {
	background-color: transparent;
	color: #c99e71;
	border-color: #c99e71;
}

.purchase-btn::before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	background-color: rgba(0, 0, 0, 0.2); /* Транспарентний нальот */
	transition: background-color 0.3s ease;
	z-index: -1; /* Відправити нальот за текст */
}

.purchase-btn:hover::before {
	background-color: rgba(0, 0, 0, 0);
}

/* Стилі для кошику */

.cart {
	position: fixed;
	top: 0;
	right: -100%;
	width: 360px;
	padding: 20px;
	background: #fff;
	box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
	color: #000;
	transition: 0.3s;
	overflow-y: auto; /* Додайте цей рядок */
	max-height: 100vh; /* Додайте цей рядок */
}

.styled-input {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 14px;
	margin-bottom: 10px;
}

.cart.active {
	right: 0;
}
.cart-title {
	color: #000;
	font-weight: 600;
	text-align: center;
	font-size: 1.5rem;
	margin-top: 2rem;
}
.cart-box {
	display: grid;
	grid-template-columns: 32% 50% 18%;
	align-items: center;
	gap: 1rem;
	margin-top: 1rem;
}
.cart-img {
	width: 100px;
	height: 100px;
	object-fit: contain;
	padding: 10px;
}
.detail-box {
	display: grid;
	row-gap: 0.5rem;
}
.cart-product-title {
	font-size: 1rem;
	text-transform: uppercase;
}
.cart-price {
	font-weight: 500;
}
.cart-quantity {
	border: 1px solid #2b2b2b;
	outline-color: red;
	width: 1, 4rem;
	text-align: center;
	font-size: 1rem;
}
.cart-remove {
	font-size: 24px;
	color: red;
	cursor: pointer;
}
.total {
	display: flex;
	justify-content: flex-end;
	margin-top: 1.5rem;
	border-top: 1px solid #2b2b2b;
}
.total-title {
	font-size: 1rem;
	font-weight: 600;
}
.total-price {
	margin-left: 0.5rem;
}
.btn-buy {
	display: flex;
	margin: 1.5rem auto 0 auto;
	padding: 12px 20px;
	border: 2px solid #000;
	color: #000;
	font-size: 1rem;
	font-weight: 500;
	cursor: pointer;
}
.btn-buy:hover {
	background-color: #000;
	color: white;
}
#close-cart {
	position: absolute;
	top: 1rem;
	right: 0.8rem;
	font-size: 2rem;
	color: #000;
	cursor: pointer;
}

/* Повідомлення про додавання товару у кошик*/

.success-message {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 10px 20px;
	background-color: #4caf50;
	color: white;
	border-radius: 5px;
	z-index: 1000;
	opacity: 0.9;
	text-align: center;
}

/* Авторизація */

.wrapper-cont {
	font-family: 'Poppins', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 80vh;
	background: url(../../src/img/back.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	overflow: hidden;
}

.wrapper {
	width: 420px;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(20px);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	padding: 30px 40px;
	box-sizing: border-box;
	border-radius: 10px;
}

.wrapper h2 {
	font-size: 36px;
	text-align: center;
}

.input-box {
	width: 100%;
	height: 50px;
	margin: 30px 0;
	position: relative;
}

.input-box input {
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	border: 2px solid rgba(255, 255, 255, 0.2);
	border-radius: 40px;
	font-size: 16px;
	color: #fff;
	padding: 0 45px 0 20px;
	box-sizing: border-box;
}

.input-box select,
.input-box textarea {
	width: 100%;
	background: transparent;
	border: none;
	outline: none;
	border: 2px solid rgba(255, 255, 255, 0.2);
	border-radius: 40px;
	font-size: 16px;
	color: #000;
	padding: 0 45px 0 20px;
	box-sizing: border-box;
}

.input-box select,
.input-box textarea {
	height: 100%;
	resize: none;
}

.input-box textarea {
	padding-top: 10px;
	height: auto;
}

.input-box input::placeholder {
	color: #fff;
}

.input-box i {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 15px;
	color: #fff;
	font-size: 20px;
	pointer-events: none;
}

.wrapper .btn {
	width: 100%;
	height: 45px;
	background: #fff;
	border: none;
	outline: none;
	border-radius: 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	color: #000;
	font-size: 16px;
	cursor: pointer;
	margin-top: 20px;
}

.wrapper .register-link {
	font-size: 14.5px;
	text-align: center;
	margin-top: 20px;
}

.register-link p a {
	color: #fff;
	text-decoration: underline;
	font-weight: 600;
}

.register-link p a:hover {
	text-decoration: underline;
	color: #c99e71;
}

/* Меню користувача */

.account-icons {
	display: flex;
	gap: 10px;
}

.social-icons a:hover {
	color: #555; /* Зміна кольору при наведенні */
}

.account-icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.account-icon a {
	font-size: 24px; /* Розмір іконки */
	color: #888; /* Колір іконки */
}

.account-icon a:hover {
	color: #555; /* Зміна кольору при наведенні */
}

.account-text {
	margin-top: 5px; /* Відступ між іконкою і текстом */
	font-size: 14px; /* Розмір тексту */
	color: #888; /* Колір тексту */
}

.account-dropdown {
	display: none;
	position: absolute;
	top: 35px; /* Відстань від іконки до випадаючого списку */
	right: 0;
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	min-width: 150px; /* Ширина випадаючого списку */
	z-index: 100;
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: left;
}

.account-icon:hover .account-dropdown {
	display: block;
}

.account-dropdown li {
	position: relative;
}

.account-dropdown li a {
	display: block;
	padding: 10px;
	font-size: 14px;
	color: #333;
	text-decoration: none;
}

.account-dropdown li a:hover {
	background-color: #333;
	color: #fff;
}

/* Пагінація */
.pagination-container {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.pagination {
	display: inline-block;
}

.pagination a {
	text-decoration: none;
	color: #fff;
	padding: 8px 16px;
	transition: 0.4s;
	margin: 0 5px;
	background: #333;
	border-radius: 4px;
}

.pagination a.active {
	background: #c99e71;
}

.pagination a:hover:not(.active) {
	background: #555;
}

/* Замовлення */

.order-grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
}
.order-item {
	background-color: #f8c291;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	position: relative;
	transition: transform 0.3s, box-shadow 0.3s;
}
.order-item:hover {
	transform: translateY(-5px);
	box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.info-details h3 {
	margin: 0 0 10px;
	color: #333;
}
.info-details p {
	margin: 5px 0;
	color: #555;
}
.details-button {
	position: absolute;
	right: 20px;
	bottom: 20px;
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
	font-weight: 500;
}
.details-button:hover {
	background-color: #555;
}
.unique-id {
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: #fff;
	color: #f8c291;
	padding: 5px 10px;
	border-radius: 5px;
	font-weight: 700;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.completed-order {
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: #7bed9f; /* Салатовий колір */
	color: #fff; /* Білий колір тексту */
	padding: 5px 10px;
	border-radius: 5px;
	font-weight: 700;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info strong {
	color: #333;
}
.no-orders {
	font-size: 16px;
	color: #ff0000;
	text-align: center;
	margin-top: 20px;
	font-weight: bold;
}
.product-details-order-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr); /* Одна колонка */
	gap: 20px;
}

.product-details-order-item {
	background-color: #f8c291;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s, box-shadow 0.3s;
	position: relative;
	display: flex;
	align-items: center;
	overflow: hidden; /* Щоб контейнер обрізав зайвий контент */
}

.product-details-order-item:hover {
	transform: translateY(-5px);
	box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.product-image {
	width: 150px; /* Ширина зображення */
	height: auto; /* Автоматична висота */
	object-fit: cover;
	border-radius: 8px;
	transition: transform 0.3s ease-out;
}

.product-link {
	display: block;
	overflow: hidden; /* Щоб зображення обрізалося, якщо потрібно */
}

.product-info {
	flex: 1;
	margin-left: 20px; /* Відступ між зображенням і інформацією */
}

.product-info h3 {
	margin: 0 0 10px;
	color: #333;
}

.product-info p {
	margin: 5px 0;
	color: #555;
}

.delete-form {
	margin-top: 10px; /* Відступ перед кнопкою Видалити */
}

.delete-button {
	background-color: #f44336;
	color: white;
	border: none;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	border-radius: 5px;
	transition: background-color 0.3s;
	cursor: pointer;
}

.delete-button:hover {
	background-color: #da190b;
}

.order-button {
	background-color: #4caf50;
	color: white;
	border: none;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 16px;
	border-radius: 5px;
	transition: background-color 0.3s;
	margin-top: 10px;
	width: 100%;
}

.order-button:hover {
	background-color: #45a049;
}

.delete-order-button {
	background-color: #f44336;
	color: white;
	border: none;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 5px;
	transition: background-color 0.3s;
	cursor: pointer;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.delete-order-button:hover {
	background-color: #da190b;
}

.delete-order-button:active {
	transform: translateY(1px);
	box-shadow: none;
}

/* 404 */
:root {
	--primary-color: #f9b23c;
	--primary-color-dark: #f49a20;
	--text-dark: #f0f0f0;
	--text-light: #f0f0f0;
	--extra-light: #ffffff;
}

.cont404 {
	height: 70vh;
	padding-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
}

.nav404 {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 400px;
	padding: 2rem;
}

.nav404 .nav__logo a {
	font-size: 1.5rem;
	font-weight: 600;
	color: var(--text-dark);
	text-decoration: none;
}

.container404 {
	max-width: 400px;
	padding: 2rem;
	margin: auto;
	display: grid;
	color: var(--text-dark);
	margin-bottom: 50px;
}

.header404 {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.header404 h1 {
	font-size: 4rem;
	font-weight: 900;
}
.container404 h3 {
	font-size: 2rem;
	font-weight: 900;
}

.container404 img {
	width: 100%;
	max-width: 300px;
	margin: auto;
}
.footer404 {
	display: flex;
	gap: 2rem;
	align-items: center;
	flex-direction: row;
	place-content: baseline;
}
.footer404 p {
	font-variation-settings: 1rem;
}
.footer404 button {
	padding: 1rem;
	outline: none;
	border: none;
	border-radius: 5px;
	color: var(--extra-light);
	font-size: 1rem;
	font-weight: 600;
	background-color: var(--primary-color);
	cursor: pointer;
	transition: 0.3s;
	width: 100%;
	flex-shrink: 0;
}
.footer404 button:hover {
	background-color: var(--primary-color-dark);
}

/* Адаптивність */

@media (max-width: 360px) {
	.cart {
		width: 280px;
	}
}

@media (min-width: 640px) {
	.nav404 {
		max-width: 1000px;
	}
	.container404 {
		max-width: 1200px;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
	}
	.container404 img {
		max-width: 550px;
		grid-area: 1/1/3/2;
	}
	.footer404 {
		max-width: 300px;
	}
}

@media (min-width: 1024px) {
	.container404 {
		column-gap: 5rem;
	}
	.header404 h1 {
		font-size: 6rem;
	}
	.header404 h3 {
		font-size: 2.5rem;
	}
}

@media (max-width: 768px) {
	.cart {
		width: 100%;
	}

	.cart-title {
		font-size: 1.2rem;
	}

	.styled-input {
		font-size: 12px;
	}

	#close-cart {
		font-size: 1.5rem;
	}
}

/* Адаптація для планшетів та менших екранів */
@media (max-width: 768px) {
	.header {
		flex-direction: column;
		align-items: flex-start;
	}

	.nav-main {
		width: 100%;
		margin-top: 20px;
	}

	.header-action {
		width: 100%;
		justify-content: space-between;
	}

	.search-container {
		width: 100%;
		margin-top: 20px;
	}

	.account-icons {
		width: 100%;
		justify-content: space-between;
	}

	.nav-categories {
		border: none;
	}

	.categories-list {
		flex-direction: column;
		align-items: flex-start;
	}

	.categories-list > li {
		margin-bottom: 10px;
	}

	.nav-categories .menu-label {
		padding: 5px 10px;
		font-size: 14px;
	}

	.sub-menu {
		position: static;
		background: none;
		border: none;
		width: auto;
	}

	.sub-menu li {
		margin-left: 20px;
	}

	.sub-menu li a {
		padding: 5px 0;
	}
}

/* Адаптація для смартфонів */
@media (max-width: 480px) {
	.header__logo,
	.footer__img {
		width: 50px;
		height: 40px;
	}

	.nav-main__list {
		gap: 24px;
	}

	.header-action {
		flex-direction: column;
		align-items: flex-start;
	}

	.header-action__search,
	.header-action__cart {
		margin-top: 10px;
	}

	.account-icons {
		margin-top: 10px;
	}
}

/* Адаптація для планшетів та менших екранів */
@media (max-width: 768px) {
	.cart {
		width: 100%;
		right: 0;
	}

	.cart-box {
		flex-direction: column;
	}

	.cart-content {
		margin-bottom: 20px;
	}

	.cart-title {
		font-size: 1.2rem;
	}

	.cart-item {
		flex-direction: column;
		align-items: flex-start;
	}

	.cart-item-image {
		width: 100%;
		margin-bottom: 10px;
	}

	.cart-item-details {
		width: 100%;
	}

	.cart-item-quantity,
	.cart-item-price {
		font-size: 0.9rem;
	}

	.cart-item-remove {
		font-size: 1.2rem;
	}
}

/* Адаптація для смартфонів */
@media (max-width: 480px) {
	.cart {
		padding: 10px;
	}

	.cart-title {
		font-size: 1rem;
	}

	.cart-item {
		flex-direction: column;
		align-items: flex-start;
	}

	.cart-item-image {
		width: 100%;
		margin-bottom: 10px;
	}

	.cart-item-details {
		width: 100%;
	}

	.cart-item-quantity,
	.cart-item-price {
		font-size: 0.8rem;
	}

	.cart-item-remove {
		font-size: 1rem;
	}
}
/* Загальні стилі для блоку доступності */
.availability-block {
	display: flex;
	align-items: center;
	margin-top: 10px;
}

/* Стилі для блоку, коли товар відсутній */
.unavailable {
	color: white;
	background-color: red;
	padding: 5px 10px;
	border-radius: 5px;
	display: flex;
	align-items: center;
}

.unavailable i {
	margin-right: 5px;
}

.available {
	color: white;
	background-color: green;
	padding: 5px 10px;
	border-radius: 5px;
	display: flex;
	align-items: center;
}

.available i {
	margin-right: 5px;
}

.form-update-price,
.form-update-discount {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem; 
}

.form-update-price .input-group,
.form-update-discount .input-group {
	display: flex;
	align-items: center;
}

.comment {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
}

.comment p {
    margin: 5px 0;
}

.comment p strong {
    font-weight: bold;
    margin-right: 5px;
}

.comment {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    position: relative; 
}

.comment .stars {
    position: absolute;
    top: 10px; 
    right: 10px; 
}

.star-comments {
    color: gold; 
    font-size: 16px; 
}

.star-comments.empty {
    color: #ccc;
}

.add-comment {
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 600px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.add-comment textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    border: none;
    outline: none;
    resize: none;
    font-size: 14px;
}

.add-comment button {
    width: 100px;
    padding: 10px;
    background-color: #ffd700;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.add-comment button:hover {
    background-color: #ffdf4f;
}

.container_comments {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container_input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-comment-btn {
    background-color: #ff4c4c;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.2s;
}

.delete-comment-btn:hover {
    background-color: #ff1c1c;
    transform: scale(1.05);
}

.delete-comment-btn:active {
    background-color: #ff0000;
    transform: scale(0.95);
}